@import "./variables.scss";

.rosa{
    color: $rosa;
}
.background-rosa{
    background-color: $rosa;
}

.background-violeta{
    background-color: $violeta;
}

.background-azul{
    background-color: $azul;
}