@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

body{
    font-family: 'Montserrat', sans-serif;
}
header {
    padding-bottom:20px;
    @include media-breakpoint-up(md) {
        padding-bottom:40px;
    }

    h1 {
        font-weight: 400;
        a{
            color: #000;
            text-decoration: none;
            &:hover{
                color: $violeta;
                .rosa{
                    color: $azul;
                }
            }
        }
        @media (min-width: 210px) and (max-width: 320px) {
            font-size:2.2em;
        }

        @media (min-width: 321px) and (max-width: 398px) {
            font-size:2.7em;
        }

        @media (min-width: 398px) and (max-width: 448px) {
            font-size:3em;
        }

        @media (min-width: 448px) and (max-width: 480px) {
            font-size:3.2em;
        }

        @media (min-width: 480px) and (max-width: 528px) {
            font-size:3.4em;
        }


        @media (min-width: 528px) and (max-width: 576px) {
            font-size:4em;
        }

        @media (min-width: 576px) and (max-width: 770px) {
            font-size:4em;
        }

        @include media-breakpoint-up(md) {
            font-size: 4em;
        }

        @include media-breakpoint-up(lg) {
            font-size: 4em;
        }

        @media (min-width: 982px) and (max-width: 1200px) {
            font-size: 5.3em;
          }

          @media (min-width: 1200px) and (max-width: 1400px) {
            font-size: 6.2em;
          }

          @media(min-width: 1400px) {
            font-size: 7em;
          }
    }

    .dot{
        width: 33px;
        margin-left:25px;
        margin-top:25px;

    }
    .env{
        font-size: 4.8em;
        color: #999;

        @include media-breakpoint-up(md) {
            font-size:2.8em;
            div{
                bottom:-17px;
            }
        }

        @include media-breakpoint-up(xl) {
            font-size: 4.8em;
            div{
                bottom:-25px;
            }
        }

        @include media-breakpoint-up(xxl) {
            font-size: 4.8em;
        }


    }
}